%h3 Hi!
%p
  To reset your BugsNDrugs password, click the following link (or paste the URL into your browser search bar):
= link_to account_reset_password_url(password_reset_token: @user.password_reset_token),account_reset_password_url(password_reset_token: @user.password_reset_token)
%br
%p If you have received this email in error, please disregard and delete it.