%h3 Hi!
%p
  Your 
  %a{href: 'http://bugsndrugs.herokuapp.com'} BugsNDrugs
  username is
  %span{style: 'font-weight: bold;'}= @user.username
%hr
%p If you have received this email in error, please disregard and delete it.