- title 'Symptoms'
%h1.text-center Under Construction
-# 'Construction' by Diego Naive from The Noun Project
%section.text-center
  = image_tag asset_path('icons/construction.svg'), style: 'height: 300px;'
%hr
%p.text-center Stay tuned!