= render partial: 'layouts/errors', locals: {error_object: new_bug}
= form_for new_bug, url: admin_bugs_path, method: :post, remote: true do |f|
  = render partial: 'admin/bugs/partials/form_contents', locals: {f: f}