- if bc.bug_classes.any? || bc.bugs.any?
  %ul{class: "tier-#{bc.tier}"}
    - bc.bug_classes.each do |sc|
      = render partial: 'bug_classes/li', locals: {bc: sc}
    - bc.bugs.each do |bug|
      %li.bug= link_to bug.abbreviated_initial, bug