= form_for @word, url: url_for(controller: 'admin/words', method: :update), remote: true do |f|
  .large-12.columns
    = f.label :name
    = f.text_field :name
  .large-12.columns
    = f.submit class: 'button', data: {disable_with: 'Updating...'}