-# %h3 New Bug Class
-# .row
-#   = render partial: 'admin/bug_classes/partials/form', locals: {new_bc: @new_bc}
%br
%h3 Current Bug Classes
%ul.bug-list.admin
  - BugClass.top_tier.each do |bc|
    = render partial: 'admin/bug_classes/partials/list', locals: {list_root: true, bc: bc}
