%h3 New Bug Class
.row
  = render partial: 'admin/bug_classes/partials/form', locals: {new_bc: @new_bc}
%br
%h3 Current Bug Classes
.row
  %table
    %thead
      %tr
        %th Name
        %th Order
        %th Drug Class
        %th
        %th
    %tbody
      - @bcs.each do |bc|
        = render partial: 'admin/bug_classes/partials/tr', locals: {bc: bc}