%h1.text-center Welcome
%hr
%section
  Welcome to BugsNDrugs, a truly inspiring site where users can register, log in, and
  %em even
  log out!
%hr
%p
  %b Browser requirements:
  This site is developed for Webkit browsers (Chrome, Safari) with some Firefox testing. It is unlikely to work in Internet Explorer (particularly old versions).