- selected = (@bc && (@bc.drug_class == bc)) || (@bug && (@bug.bug_class == bc))
%option{value: bc.id, selected: selected}= bc.name
- bc.subclasses.each do |sc|
  = render partial: 'admin/bug_classes/partials/option', locals: {bc: sc}