%li.tier-0{id: bc.name.downcase}
  %h2.centered= bc.name
  %hr.mini
  - if defined? pattern
    - pattern.each do |col|
      .large-4.columns
        - col.each do |i|
          %ul.bug-list
            = render partial: 'bug_classes/li', locals: {bc: bc.bug_classes[i]}
  - else
    - bc.bug_classes.each do |sc|
      .large-4.columns
        %ul.bug-list
          = render partial: 'bug_classes/li', locals: {bc: sc}
%hr