- bacteria, viruses, fungi, parasites = BugClass.top_tier
%ul.public.bug-list
  = render partial: 'admin/bug_classes/partials/top_tier', locals: {bc: bacteria}
  = render partial: 'admin/bug_classes/partials/top_tier', locals: {bc: viruses, pattern: [[0,1,2],[3],[4,5,6]]}
  = render partial: 'admin/bug_classes/partials/top_tier', locals: {bc: fungi}
  = render partial: 'admin/bug_classes/partials/top_tier', locals: {bc: parasites}