%ul.breadcrumbs
  - @lineage.each do |ancestor|
    %li
      = link_to ancestor.name, ancestor
  %li
    = link_to @bug.abbreviated_initial, ''
%h1.bug
  %span.gram{class: @bug.gram_stain}
  = @bug.name