.gram.positive {
  color: #350bad;
  font-weight: 800;
  border: 1px solid black;
  font-size: larger;
  &:before {
    content: '+';
    margin: 0.1em 0.2em;
  }
}
.bug-icon {
  height: 1em;
}

.bug-list, .drug-list {
  i {
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  h5{
    background: #ccc;
    margin: 0 0 0 1.1em;
    // border-left: 1px solid black;
    // padding-bottom: 0.25em;

    a {
      color: #555;
      &:hover {
        color: #777;
      }
    }
  }
  .bar {
    &:hover i {
      opacity: 1;
    }
  }
  .bug_class, .drug_class {
    background: whitesmoke;
  }
  .bug, .drug {
    background: white;
    position: relative;
  }
  ul {
    border-left: 1px solid black;
    margin-bottom: 0;
  }
  li {
    padding-left: 0.5em;
    list-style-type: none;
  }
  &.public {
    .bug, .drug {
      font-size: smaller;
    }
    .firster:not(:first-child) {
      border-top: 1px solid black;
    }
    .firster {
      font-size: larger;
    }
  }
  &.admin{
    li {
      cursor: move;
    }
    input {
      display: none;
      margin: 0;
      width: auto;
    }
    .tier-1 > li, .tier-3 > li, .tier-5 > li, .tier-7 > li{
      background: whitesmoke;
    }
    .tier-2 >li, .tier-4 > li, .tier-6 > li{
      background: white;
    }
  }
}

.preview-container {
  position: relative;
  display: inline-block;
}
.preview {
  width: 15em;
  padding: 0.5em 1em;
  display: none;
  position: absolute;
  left: 130%;
  top: -1.5em;
  z-index: 1;
  // background: lighten(#39275b, 50%);
  background: white;
  border: 1px solid #aaa;
  -moz-box-shadow: 3px 3px 5px black;
  -ms-box-shadow: 3px 3px 5px black;
  -webkit-box-shadow: 3px 3px 5px black;
  box-shadow: 3px 3px 5px black;

  .nib {
    position: absolute;
    top: 1.5em;
    right: 100%;
    width: 0;
    height: 0;
    border: solid 10px;
    border-color: transparent #333333 transparent transparent;
  }
  p {
    font-size: smaller;
  }
  ul {
    border: none;
    li {
      list-style-type: square;
      font-size: smaller;
    }
  }
  p, h6 {
    margin: 0;
  }
  * {
    font-size: 1em;
  }
  hr {
    margin: 0.5rem 0;
  }
  i {
    opacity: 1;
    position: absolute;
    top: 0.35em;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #333;
    background: whitesmoke;
    line-height: 1em;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    &:hover {
      background: #ccc;
      opacity: 1;
    }
    opacity: 0.3;
  }
  .fi-link {
    right: 1.7em;
  }
  .fi-x {
    right: 0.35em;
  }
}