.gram.positive {
  color: #350bad;
  font-weight: 800;
  border: 1px solid black;
  font-size: larger;
  &:before {
    content: '+';
    margin: 0.1em 0.2em;
  }
}

.bug-list {
  i {
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .bar {
    &:hover i {
      opacity: 1;
    }
  }
  .bug_class {
    background: whitesmoke;
  }
  .bug {
    background: white;
  }
  ul {
    border-left: 1px solid black;
    margin-bottom: 0;
  }
  li {
    padding-left: 0.5em;
    list-style-type: none;
  }
  &.public {
    .bug {
      font-size: smaller;
    }
    .firster:not(:first-child) {
      border-top: 1px solid black;
    }
    .firster {
      font-size: larger;
    }
  }
  &.admin{
    li {
      cursor: move;
    }
    input {
      display: none;
      margin: 0;
      width: auto;
    }
    .tier-1 > li, .tier-3 > li, .tier-5 > li, .tier-7 > li{
      background: whitesmoke;
    }
    .tier-2 >li, .tier-4 > li, .tier-6 > li{
      background: white;
    }
  }
}
