!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body{style: "font-family: Helvetica Neue', Arial, Helvetica, sans-serif;"}
    %div{style:'padding:14px; margin-bottom:4px; background-color:#39275b;'}
    = yield
    %hr
    %p Cheers!
    %p The BugsNDrugs Team
    %div{style:'padding:14px; margin-bottom:4px; background-color:#39275b;'}